fastapi
uvicorn[standard]
pydantic
pandas
numpy
scikit-learn
document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("profileForm");

    form.addEventListener("submit", function (event) {
        event.preventDefault();

        window.location.href = "main.html";
    });
});